* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4em;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 1280px;
  max-width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0 0.625rem;
  gap: 2rem;
}

nav li {
  display: flex;
  list-style: none;
  margin: 0 0.625rem;
  gap: 2rem;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  margin: 0 0.625em;
  font-family: bontex;
}

nav a {
  color: rgb(59, 60, 60);
  text-decoration: none;
  font-family: bontex;
  font-size: 2rem;
}

nav a:visited {
  color: rgb(59, 60, 60);
}
