/* GLOBAL RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CORNER TAG */



.corner-tag {
  position: absolute;
  width: 450px;
  height: 300px;
  overflow: hidden; 
  top: 0;
  right: 0;
  transform: rotate(45deg);
  transform-origin: bottom right; 
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
  color: white;
  font-weight: bold;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4em;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 1280px;
  max-width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0 0.625rem;
  gap: 2rem;
}

nav li {
  display: flex;
  list-style: none;
  margin: 0 0.625rem;
  gap: 2rem;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  margin: 0 0.625em;
  font-family: bontex;
}

nav a {
  color: rgb(59, 60, 60);
  text-decoration: none;
  font-family: bontex;
  font-size: 2rem;
}

nav a:visited {
  color: rgb(59, 60, 60);
}

/* SLIDER */

.splide {
  width: 80rem;
  height: 50rem;
  overflow: hidden;
  margin: 0 auto;
  position: relative;SLIDE;
  border-radius: 1rem;
  border-bottom: 0.1rem solid black;
}

.splide .hero-heading-main {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  color: #222;
  width: 290px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 4px 13px -4px rgba(0, 0, 0, 0.3);
  background-image: url("./media/STRUCTURE/background.jpg");
}

 .splide_slide {

 }


.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* INFO-BOX */

.info-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.2rem;
}

.info-box p {
  width: 20rem;

  font-style: italic;
}



.info-box h2 {
  font-family: TBD;
}



.info-box-card {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.info-text {
  /* display: flex;
  flex-direction: row; */
  align-items: center;

}



.info-box-card img {
  width: 20rem;
  justify-content: center;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


