/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

/* CORNER TAG */
.corner-tag {
  position: absolute;
  z-index: 10;
  width: 450px;
  height: 300px;
  overflow: hidden;
  top: 0;
  right: 0;
  transform: rotate(45deg);
  transform-origin: bottom right;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
  color: white;
  font-weight: bold;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4em;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 1280px;
  max-width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0 0.625rem;
  gap: 2rem;
}

nav li {
  display: flex;
  list-style: none;
  margin: 0 0.625rem;
  gap: 2rem;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  margin: 0 0.625em;
  font-family: bontex;
}

nav a {
  color: rgb(59, 60, 60);
  text-decoration: none;
  font-family: bontex;
  font-size: 2rem;
}

nav a:visited {
  color: rgb(59, 60, 60);
}

/* DICE ROLLER */

.dice-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 3rem;
}

.dice {
  width: 120px;
  height: 120px;
  background: #333;
  color: white;
  border-radius: 20px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.rolling {
  animation: shake 0.8s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(20deg) scale(1.1);
  }
  40% {
    transform: rotate(-20deg) scale(0.95);
  }
  60% {
    transform: rotate(15deg) scale(1.1);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* REGISTER GOOGLE IFRAME */

#h2-booking {
  margin-top: 5rem;
  font-family: bontex;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin: auto;
  width: 640px;
  flex: 0.8;
  height: 680px;
  margin-bottom: 12rem;
}

input,
textarea,
select {
  padding: 10px;
  border:
    1px,
    solid #999;
  border-radius: 6px;
  font-size: 1rem;
}

input[type="range"] {
  accent-color: #d3ae93;
}

button {
  padding: 12px;
  background-color: #d3ae93;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form {
  text-align: center;
}
